[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/raygui"]
	path = lib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "lib/FastNoiseLite"]
	path = lib/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "lib/MinGW64"]
	path = lib/MinGW64
	url = https://github.com/GorvGoyl/MinGW64.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
